<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>Contact Us</title>
	</head>
	<body>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container-fluid bg-contact">
						<nav class="float-right position-nav">
							<div class="dropdown">
								<a href="" id="dropdown-other-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-reorder fa-white fa-2x"></i></a>
								<div class="dropdown-menu dropdown-about" aria-labelledby="dropdown-other-menu">
									<a class="dropdown-item" href="#">Home</a>
									<a class="dropdown-item" href="#">Contact Us</a>
								</div>
							</div>
							
						</nav>
						<div class="align-middle text-center logo-center">
							<img src="assets/logo/logo-hd-copy.png">
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container-fluid contact-team">
						<div class="text-justify"><br><br><br><br><br>
							<h1 class="text-purple font-about title-size text-center">Why Ospace</h1><br>
							<div class="row">
								<div class="col-md-8 offset-md-2">
									<span class="keterangan-24 text-purple font-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container-fluid contact-team">
						<div class="text-justify"><br><br><br><br><br>
							<h1 class="text-purple font-about title-size text-center">What is Ospace</h1><br>
							<div class="row">
								<div class="col-md-8 offset-md-2">
									<span class="keterangan-24 text-purple font-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container contact-team">
						<div class="text-center"><br>
							<h1 class="text-purple font-about title-size">Our Team</h1><br>
							<div class="row">
								<div class="col-md-3">
									<div class="card card-contact">
										<div class="card-header"><br>
											<div class="row">
												<div class="col-md-8 offset-md-2">
													<div class="composite-img-about rounded-circle">
														<img src="assets/logo/layer-1173.jpg" class="img-fluid">
													</div>
												</div>
											</div><br><br>
											<span class="contact-jabatan">CEO</span><br>
											<span class="nama-about">Syaukani Audady</span><br><br>
											<div class="col-md-8 offset-md-2">
												<hr class="hr-contact">
											</div>
											</center>
										</div>
										<div class="card-body card-body-about">
											syaukaniaudady@gmail.com<br>
											+62 87 654 765 876<br>
											Jln. Veteran Malang Indonesia<br>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card card-contact">
										<div class="card-header"><br>
											<div class="row">
												<div class="col-md-8 offset-md-2">
													<div class="composite-img-about rounded-circle">
														<img src="assets/logo/layer-1173.jpg" class="img-fluid">
													</div>
												</div>
											</div><br><br>
											<span class="contact-jabatan">FRONTEND</span><br>
											<span class="nama-about">Dary Ardiansyah H</span><br><br>
											<div class="col-md-8 offset-md-2">
												<hr class="hr-contact">
											</div>
											</center>
										</div>
										<div class="card-body card-body-about">
											dary.ardhar@gmail.com<br>
											+62 87 654 765 876<br>
											Jln. Panjaitan Malang Indonesia<br>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card card-contact">
										<div class="card-header"><br>
											<div class="row">
												<div class="col-md-8 offset-md-2">
													<div class="composite-img-about rounded-circle">
														<img src="assets/logo/layer-1173.jpg" class="img-fluid">
													</div>
												</div>
											</div><br><br>
											<span class="contact-jabatan">BACKEND</span><br>
											<span class="nama-about">Hario Budiharjo</span><br><br>
											<div class="col-md-8 offset-md-2">
												<hr class="hr-contact">
											</div>
											</center>
										</div>
										<div class="card-body card-body-about">
											hariobudiharjo@gmail.com<br>
											+62 87 654 765 876<br>
											Jln. Veteran Malang Indonesia<br>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="card card-contact">
										<div class="card-header"><br>
											<div class="row">
												<div class="col-md-8 offset-md-2">
													<div class="composite-img-about rounded-circle">
														<img src="assets/logo/layer-1173.jpg" class="img-fluid">
													</div>
												</div>
											</div><br><br>
											<span class="contact-jabatan">UI/UX</span><br>
											<span class="nama-about">Zain Fikri H</span><br><br>
											<div class="col-md-8 offset-md-2">
												<hr class="hr-contact">
											</div>
											</center>
										</div>
										<div class="card-body card-body-about">
											zainfikrih@gmail.com<br>
											+62 87 654 765 876<br>
											Jln. Veteran Malang Indonesia<br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$('.carousel').carousel();
		</script>
	</body>
</html>