<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>Contact Us</title>
	</head>
	<body>
		<nav class="navbar justify-content-between">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"></a>
			<form class="form-inline">
				<div class="dropdown">
					<a class="username" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="round-username rounded-circle">
							<img src="http://cdn2.tstatic.net/suryamalang/foto/bank/images/albert-einstein-arthur-sasse_20160202_131247.jpg">
						</div>
						<span class="text-username text-purple">Zain Fikri Hanastyono</span>
					</a>
					<div class="dropdown-menu dropdown-u" aria-labelledby="dropdown-user">
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</div>
			</form>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div id="map"></div><br><br>
					<span class="font-contact">Email<p class="text-indent-33">: services@ospace.tech</p>
					<br>Address<p class="text-indent-15">: Jalan Veteran No. 8, Ketawanggede.</p><br>
					<p class="text-indent-65">Kecamatan Lowokmaru, Ketawanggede,</p>
					<p class="text-indent-65">Kec. Lowokmaru, Kota Malang, Jawa Timur 65145</p></span><br>
				</div>
				<div class="col-md-4">
					<br><br><br>
					<div class="card card-blue text-center">
						<div class="card-body card-body-blue">
							<h4>Subscribe to newsletter</h4>
							<p class="font-size-14">Get in touch with fresh news from <br>our company and share it.</p>
							<form action="#">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text input-grup-email"><i class="fa fa-envelope-o"></i></div>
								</div>
								<input type="text" class="form-control email-input" id="inlineFormInputGroup" placeholder="Enter your email here">
							</div><br>
						<button type="submit" class="btn btn-dark btn-purple btn-subscribe"><i class="fa fa-check fa-subscribe"></i>Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script>
		function initMap() {
		var uluru = {lat: -7.9536916, lng: 112.6146732};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: uluru
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map
		});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5M2b8xx5D28aonuIs1RbVb4TcRFUT7Bg&callback=initMap">
		</script>
	</body>
</html>