<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>Details</title>
	</head>
	<body>
		<nav class="navbar justify-content-between navbar-admin">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"><span class="user-def"><span class="margin-def">competition</span></span></a>
			<form class="form-inline">
				<div class="dropdown">
					<a class="username" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="round-username rounded-circle">
							<img src="http://cdn2.tstatic.net/suryamalang/foto/bank/images/albert-einstein-arthur-sasse_20160202_131247.jpg">
						</div>
						<span class="text-username text-purple">Zain Fikri Hanastyono</span>
					</a>
					<div class="dropdown-menu dropdown-u" aria-labelledby="dropdown-user">
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</div>
			</form>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<br><p></p>
					<div class="card card-selection-post">
						<div class="card-body card-margin-inside-20">
							<div class="row">
								<div class="col-md-3">
									<div class="composite-img-detail rounded-circle">
										<img src="assets/logo/layer-3@2x.jpg" class="img-fluid img-layer-3">
									</div>
								</div>
								<div class="col-md-8 top-title">
									<h3 class="card-title card-title-select-post">Ospace</h3>
									<h5 class="card-subtitle mb-2 text-muted2">Ospace event</h5>
								</div>
							</div>
							<br>
							<div class="row sizing-below-logo">
								<div class="col-md-2">
									<h6 class="color-grey">Details</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat.</h6>
								</div>
							</div>
							<div class="row sizing-below-logo">
								<div class="col-md-2">
									<h6 class="color-grey">Position</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2">Manager</h6>
								</div>
							</div>
							<div class="row sizing-below-logo margining-bot-20">
								<div class="col-md-2">
									<h6 class="color-grey">Salary</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2">Rp. 200.000</h6>
								</div>
							</div>
							<div class="row sizing-below-logo margining-bot-20">
								<div class="col-md-2">
									<h6 class="color-grey">Date</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2">January 2018</h6>
								</div>
							</div>
							<div class="row sizing-below-logo margining-bot-20">
								<div class="col-md-2">
									<h6 class="color-grey">Skill</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2">Managing</h6>
								</div>
							</div>
							<div class="row sizing-below-logo margining-bot-20">
								<div class="col-md-2">
									<h6 class="color-grey">Location</h6>
								</div>
								<div class="col-md-8">
									<h6 class="text-muted2">Jakarta</h6>
								</div>
							</div>
							<div class="card-link-purple font-lato text-right">
								<button type="submit" class="btn btn-dark font-lato btn-purple btn-subscribe">See on their site</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<p class="font-roboto">You Might Also Like</p>
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-7 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace event</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Name</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">IFEST</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Location</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Jakarta</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Category</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Paid Event</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Date</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
					<br>
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-7 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace event</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Name</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">IFEST</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Location</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Jakarta</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Category</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Paid Event</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-4 offset-md-1">
											<p class="color-grey">Date</p>
										</div>
										<div class="col-md-7">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$('#date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
		</script>
		<script>
		function initMap() {
		var uluru = {lat: -7.9536916, lng: 112.6146732};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: uluru
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map
		});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5M2b8xx5D28aonuIs1RbVb4TcRFUT7Bg&callback=initMap">
		</script>
	</body>
</html>