<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>Hello, world!</title>
	</head>
	<body>
		<nav class="navbar justify-content-between">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"></a>
			<form class="form-inline">
				<div class="dropdown">
					<a href="#" class="btn btn-home btn-outline-purple mr-sm-2" id="dropdown-log" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log In</a>
					<div class="dropdown-menu dropdown-login text-center" aria-labelledby="dropdown-log">
						<div class="margin-inside-log">							
						<input class="form-control" type="text" placeholder="EMAIL ID">
						<input class="form-control" type="text" placeholder="PASSWORD">
						<br>
						<div class="form-check float-left">
							<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							<label class="form-check-label" for="defaultCheck1">
								Remember me
							</label>
						</div>
						<div class="float-right">
							<a href="#" class="link-forgot-log">Forgot password?</a>
						</div><br><br>
						<button type="submit" class="btn btn-dark btn-purple btn-subscribe btn-log float-right">Login</button><br><br><br>
						Log in with <br>
						<div class="btn-group">
									<a href="#" class="btn btn-facebook">
										<i class="fa fa-facebook fa-white"></i>Facebook
									</a>
									<a href="#" class="btn btn-google font-roboto-reg">
										<img src="assets/logo/layer-2.jpg" class="fa-google1">Google
									</a>
								</div>
						</div>
						don't have account? registered <a href="#">here.</a>
					</div>
				</div>
				<a href="#" class="btn btn-home btn-dark btn-purple my-2 my-sm-0">Sign Up</a>
			</form>
		</nav>
		<br><br>
		<div class="row">
				<div class="card card-home card-home-sizing" id="first-card-home">
					<div class="card-header card-header-home">
						<i class="fa fa-bookmark-o fa-2x"></i><br><br><br>
						<center>
						<img src="assets/logo/ic-scholar.png" class="img-fluid fa-card-home">
						<br>Scholarship
						<br>Space
						<div class="col-md-10">
							<hr class="hr-home">
						</div>
						</center>
					</div>
					<div class="card-body text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</div>
					<div class="card-footer footer-card-1 text-muted">
						<a href="#" class="btn btn-card-home btn-primary">Search</a>
						<a href="#" class="btn btn-card-home float-right btn-primary">Post</a>
					</div>
				</div>
				<div class="card card-home card-home-sizing">
					<div class="card-header card-header-home">
						<i class="fa fa-bookmark-o fa-2x"></i><br><br><br>
						<center>
						<img src="assets/logo/ic-compe.png" class="img-fluid fa-card-home">
						<br>Competition
						<br>Space
						<div class="col-md-10">
							<hr class="hr-home">
						</div>
						</center>
					</div>
					<div class="card-body text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</div>
					<div class="card-footer footer-card-1 text-muted">
						<a href="#" class="btn btn-card-home btn-primary">Search</a>
						<a href="#" class="btn btn-card-home float-right btn-primary">Post</a>
					</div>
				</div>
				<div class="card card-home card-home-sizing">
					<div class="card-header card-header-home">
						<i class="fa fa-bookmark-o fa-2x"></i><br><br><br>
						<center>
						<img src="assets/logo/ic-event.png" class="img-fluid fa-card-home">
						<br>Event
						<br>Space
						<div class="col-md-10">
							<hr class="hr-home">
						</div>
						</center>
					</div>
					<div class="card-body text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</div>
					<div class="card-footer footer-card-2 text-muted">
						<a href="#" class="btn btn-card-home btn-primary">Search</a>
						<a href="#" class="btn btn-card-home float-right btn-primary">Post</a>
					</div>
				</div>
				<div class="card card-home card-home-sizing">
					<div class="card-header card-header-home">
						<i class="fa fa-bookmark-o fa-2x"></i><br><br><br>
						<center>
						<img src="assets/logo/ic-intern.png" class="img-fluid fa-card-home">
						<br>Internship
						<br>Space
						<div class="col-md-10">
							<hr class="hr-home">
						</div>
						</center>
					</div>
					<div class="card-body text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</div>
					<div class="card-footer footer-card-3 text-muted">
						<a href="#" class="btn btn-card-home btn-primary">Search</a>
						<a href="#" class="btn btn-card-home float-right btn-primary">Post</a>
					</div>
				</div>
				<div class="card card-home card-home-sizing">
					<div class="card-header card-header-home">
						<i class="fa fa-bookmark-o fa-2x"></i><br><br><br>
						<center>
						<img src="assets/logo/ic-career.png" class="img-fluid fa-card-home">
						<br>Career
						<br>Space
						<div class="col-md-10">
							<hr class="hr-home">
						</div>
						</center>
					</div>
					<div class="card-body text-justify">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
					</div>
					<div class="card-footer footer-card-3 text-muted">
						<a href="#" class="btn btn-card-home btn-primary">Search</a>
						<a href="#" class="btn btn-card-home float-right btn-primary">Post</a>
					</div>
				</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>