<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>How to post</title>
	</head>
	<body>
		<nav class="navbar justify-content-between">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"></a>
			<form class="form-inline">
				<div class="dropdown">
					<a class="username" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="round-username rounded-circle">
							<img src="http://cdn2.tstatic.net/suryamalang/foto/bank/images/albert-einstein-arthur-sasse_20160202_131247.jpg">
						</div>
						<span class="text-username text-purple">Zain Fikri Hanastyono</span>
					</a>
					<div class="dropdown-menu dropdown-u" aria-labelledby="dropdown-user">
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</div>
			</form>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="font-roboto-reg color-how">
						<h2 class="text-center font-up">How to post</h2><br><br>
						<div class="content-how">
							1. Login to Ospace<br>
							<div class="font-roboto color-mini-how font-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut.</div>
							<hr>
							<span class="margin-0">2. Edit Content</span>
							<hr>
							<span class="margin-0">3. Post Now</span>
							<hr><br>
							<div class="font-size-14"><div class="custom-control custom-checkbox custom-checkbox-postnow">
								<input type="checkbox" class="custom-control-input" id="customCheck1">
								<label class="custom-control-label" for="customCheck1">I have read and understand the steps</label>
							</div></div>
								<button type="submit" class="btn btn-dark btn-purple btn-postnow">POST NOW</button>
							
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<img src="assets/logo/mac.png" class="img-fluid">
				</div>
			</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script>
		function initMap() {
		var uluru = {lat: -7.9536916, lng: 112.6146732};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: uluru
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map
		});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5M2b8xx5D28aonuIs1RbVb4TcRFUT7Bg&callback=initMap">
		</script>
	</body>
</html>