<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>How to post</title>
	</head>
	<body>
		<nav class="navbar justify-content-between navbar-admin">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"><span class="user-def"><span class="margin-def">Scholarship</span></span></a>
			<form class="form-inline">
				<div class="dropdown">
					<a class="username" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="round-username rounded-circle">
							<img src="http://cdn2.tstatic.net/suryamalang/foto/bank/images/albert-einstein-arthur-sasse_20160202_131247.jpg">
						</div>
						<span class="text-username text-purple">Zain Fikri Hanastyono</span>
					</a>
					<div class="dropdown-menu dropdown-u" aria-labelledby="dropdown-user">
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</div>
			</form>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card card-admin">
						<div class="card-body card-margin-inside">
							University
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio1">University of Brawijaya</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio2">University of Brawijaya</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio3">University of Brawijaya</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio4">University of Brawijaya</label>
							</div><br>
							Awards
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio5">Rp. 0 - Rp. 249.999</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio6">Rp. 250.000 - Rp. 499.999</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio7">Rp. 500.000 - Rp. 749.999</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio8">Rp. 750.000 - Rp. 1.000.000</label>
							</div><br>
							Scholarship level
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio5">Diploma</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio6">Undergraduate</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio7">Post graduate</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio8">Doctor</label>
							</div><br>
							Scholarship category
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio5">Partially funded scholarship</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio6">Fully funded scholarship</label>
							</div><br>
							Scholarship type
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio5">Domestic</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio6">Overseas</label>
							</div><br>
							<p>
								<label for="date">Deadline</label><br>
								<input id="date" type="date">
							</p>
							<!-- <div class="form-control-wrapper">
									<div class="form-group label-floating is-empty"><input id="date" class="form-control" data-dtp="dtp_L9LtC" type="text"><label for="date" class="control-label">Date</label></div>
							</div> -->
							<br>
							<input class="form-control" type="text" placeholder="Website">
							<br>
							<br>
							<input class="form-control" type="text" placeholder="Information">
							<br><br><br>
							<button class="btn btn-admin btn-purple float-right">Post Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$('#date').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
		</script>
		<script>
		function initMap() {
		var uluru = {lat: -7.9536916, lng: 112.6146732};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: uluru
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map
		});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5M2b8xx5D28aonuIs1RbVb4TcRFUT7Bg&callback=initMap">
		</script>
	</body>
</html>