<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.js"></script>
		<script src="https://unpkg.com/wnumb@1.1.0"></script>
		<link rel="stylesheet" href="https://unpkg.com/nouislider@10.0.0/distribute/nouislider.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<title>Details</title>
	</head>
	<body>
		<nav class="navbar justify-content-between navbar-admin">
			<a class="navbar-brand"><img src="assets/logo/logo.jpg"><span class="user-def"><span class="margin-def">Competition</span></span></a>
			<form class="form-inline">
				<div class="dropdown">
					<a class="username" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="round-username rounded-circle">
							<img src="http://cdn2.tstatic.net/suryamalang/foto/bank/images/albert-einstein-arthur-sasse_20160202_131247.jpg">
						</div>
						<span class="text-username text-purple">Zain Fikri Hanastyono</span>
					</a>
					<div class="dropdown-menu dropdown-u" aria-labelledby="dropdown-user">
						<a class="dropdown-item" href="#">Contact</a>
						<a class="dropdown-item" href="#">About us</a>
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</div>
			</form>
		</nav>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<form action="cari.php" method="get">
						<div class="card card-border-bot margining-top-95">
							<div class="card-body card-body-filter">
								<div class="row">
									<div class="col-md-6 offset-md-1 padding-15-0 border-right">
										Filters
									</div>
									<div class="col-md-3 padding-20-0">
										<button type="reset" class="btn btn-link">Clear All <i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<br>
						</div>
						<div class="card card-border-bot">
							<div class="card-body card-body-filter2">
								<div class="row">
									<div class="col-md-10">
										Position
									</div>
									<div class="col-md-2">
										<i class="fa fa-chevron-down color-filter-box"></i>
									</div>
									<div class="col-md-12">
										<input type="text" class="form-control search-input2" placeholder="Search Position">
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Manager
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Programmer
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Staff
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Technician
									</div><br>
								</div>
							</div>
							<br>
						</div>
						<div class="card card-border-bot">
							<div class="card-body card-body-filter2">
								<div class="row">
									<div class="col-md-10">
										Location
									</div>
									<div class="col-md-2">
										<i class="fa fa-chevron-down color-filter-box"></i>
									</div>
									<div class="col-md-12">
										<input type="text" class="form-control search-input2" placeholder="Search Location">
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Malang
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Bandung
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Semarang
									</div>
									<div class="alert alert-search-box alert-dismissable">
										<a href="#" class="close close-search-box" data-dismiss="alert" aria-label="close">&times;</a>
										Jakarta
									</div><br>
								</div>
							</div>
							<br>
						</div>
						<div class="card card-border-bot">
							<div class="card-body card-body-filter2">
								<div class="row">
									<div class="col-md-10">
										Salary
									</div>
									<div class="col-md-2">
										<i class="fa fa-chevron-down color-filter-box"></i>
									</div><br>
									<div class="col-md-12"><br><br>
										<div id="keypress" class="noUi-target noUi-rtl noUi-horizontal"></div>
										<div class="col-md-6">
											<input id="input-with-keypress-0" type="text" placeholder="Min">
										</div>
										<div class="col-md-6">
											<input id="input-with-keypress-1" type="text" placeholder="Max">
										</div>
										<script>
										var keypressSlider = document.getElementById('keypress');
										var input0 = document.getElementById('input-with-keypress-0');
										var input1 = document.getElementById('input-with-keypress-1');
										var inputs = [input0, input1];
										noUiSlider.create(keypressSlider, {
										start: [0, 1000],
										connect: true,
										tooltips: [wNumb({ decimals: 0, postfix:'K' }), wNumb({ decimals: 0, postfix:'K' })],
										range: {
										'min': 0,
										'max': 1000
										}
										});
										keypressSlider.noUiSlider.on('update', function( values, handle ) {
										inputs[handle].value = Math.round(values[handle]);
										});
										</script>
										<script>
										function setSliderHandle(i, value) {
											var r = [null,null];
											r[i] = value;
											keypressSlider.noUiSlider.set(r);
										}
										// Listen to keydown events on the input field.
										inputs.forEach(function(input, handle) {
											input.addEventListener('change', function(){
												setSliderHandle(handle, this.value);
											});
											input.addEventListener('keydown', function( e ) {
												var values = keypressSlider.noUiSlider.get();
												var value = Number(values[handle]);
												// [[handle0_down, handle0_up], [handle1_down, handle1_up]]
												var steps = keypressSlider.noUiSlider.steps();
												// [down, up]
												var step = steps[handle];
												var position;
												// 13 is enter,
												// 38 is key up,
												// 40 is key down.
												switch ( e.which ) {
													case 13:
														setSliderHandle(handle, this.value);
														break;
													case 38:
														// Get step to go increase slider value (up)
														position = step[1];
														// false = no step is set
														if ( position === false ) {
															position = 1;
														}
														// null = edge of slider
														if ( position !== null ) {
															setSliderHandle(handle, value + position);
														}
														break;
													case 40:
														position = step[0];
														if ( position === false ) {
															position = 1;
														}
														if ( position !== null ) {
															setSliderHandle(handle, value - position);
														}
														break;
												}
											});
										});
										</script>
									</div><br>
								</div>
							</div>
							<br>
						</div>
						<div class="card card-selection-post">
							<div class="card-body card-body-filter2 text-center">
								<button type="submit" class="btn btn-dark btn-purple btn-subscribe"><i class="fa fa-check fa-subscribe"></i>Apply filters</button>
								<br>
							</div>
							<br>
						</div>
					</form>
				</div>
				<div class="col-md-9">
					<br>
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text input-group-search"><i class="fa fa-search"></i></div>
								</div>
								<input type="text" class="form-control search-input" id="inlineFormInputGroup" placeholder="Search for scholarship">
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-5 offset-md-1">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-5 offset-md-1">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-5 offset-md-1">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="card card-selection-post">
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="composite-img rounded-circle">
												<img src="assets/logo/layer-3.jpg" class="img-fluid img-layer-3">
											</div>
										</div>
										<div class="col-md-8 top-title">
											<h5 class="card-title card-title-select-post">Ospace</h5>
											<h6 class="card-subtitle mb-2 text-muted2">Ospace scholarship</h6>
										</div>
									</div>
									<br>
									<div class="row sizing-below-logo">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Awards</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Rp. 200.000</span>
										</div>
									</div>
									<div class="row sizing-below-logo margining-bot-20">
										<div class="col-md-3 offset-md-1">
											<p class="color-grey">Deadline</p>
										</div>
										<div class="col-md-8">
											<span class="text-muted2">Januari 2018</span>
										</div>
									</div>
									<div class="card-link-purple font-roboto-reg text-right">
										<a href="#" class="card-link">See details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<footer>
			<br>
			<div class="row">
				<div class="col-md-2 offset-md-2">
					<span class="footer-title">
						Company<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Ospace Tech<br>
						service@ospace.tech<br>
						+62 87654789876<br>
						Malang, Indonesia<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Web Pages<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						blog.ospace.tech<br>
						service.ospace.tech<br>
					</span>
				</div>
				<div class="col-md-2">
					<span class="footer-title">
						Social<br>
						<div class="row">
							<hr class="hr-footer col-md-2">
						</div>
					</span>
					<span class="footer-body">
						Instagram: ospace.tech<br>
						Twitter: ospace.tech<br>
						Facebook: Ospace.Tech<br>
					</span>
				</div>
				<div class="col-md-4 col-footer"><br>
					<img src="assets/logo/logo-footer.jpg"><br>
					Copyright &copy; 2017 Ospace. All Rights Reserved
				</div>
			</div>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script>
		function initMap() {
		var uluru = {lat: -7.9536916, lng: 112.6146732};
		var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: uluru
		});
		var marker = new google.maps.Marker({
		position: uluru,
		map: map
		});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5M2b8xx5D28aonuIs1RbVb4TcRFUT7Bg&callback=initMap">
		</script>
	</body>
</html>
